<h1>Cocktails</h1>
<p>Menu:</p>
<div>
<% @cocktails.each do |cocktail| %>
  <div class="col-4 col-xs-12 col-sm-6 col-md-4">
    <%= link_to cocktail.name, cocktail_path(cocktail) do %>
  <!-- cocktail_path(heeft id nodig, zie routes, in dit geval cocktail) <-->
  </-->
  <% end %>
<% end %>
</div>

<div>
<%= link_to "make a cocktail", new_cocktail_path %>
</div>
