<h1>Cocktails</h1>
<p>Menu:</p>
<div>
  <ul>
    <% @cocktails.each_with_index do |cocktail| puts "#{cocktail}" %>
      <div class="col-4 col-xs-12 col-sm-6 col-md-4">
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <!-- cocktail_path(heeft id nodig, zie routes, in dit geval cocktail) <-->
      </div>
    <% end %>
  </ul>

<div>
<%= link_to "make a cocktail", new_cocktail_path %>
</div>
